{% extends "base.html" %}

{% block content %}
<h1>Добавление книги</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control") }}<br>
        {% for error in form.title.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.author.label }}<br>
        {{ form.author(class="form-control") }}<br>
        {% for error in form.author.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.genre.label }}<br>
        {{ form.genre(class="form-control") }}<br>
        {% for error in form.genre.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.created_date.label }}<br>
        {{ form.created_date(class="form-control") }}<br>
        {% for error in form.created_date.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.annotation.label }}<br>
        {{ form.annotation(class="form-control") }}<br>
        {% for error in form.annotation.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.img_file.label }}<br>
        {{ form.img_file }}
        {% for error in form.img_file.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.text_file.label }}<br>
        {{ form.text_file }}
        {% for error in form.text_file.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}