{% extends "base.html" %}

{% block content %}
<h1>Книги</h1>
{% if current_user.is_authenticated and current_user.id == 1 %}
    <a href="book" class="btn btn-secondary">Добавить книгу</a>
{% endif %}
{% for item in books %}
<div class="col-md6 border rounded">
    <img src={{"/static/img/"+item.img_file}} align="left" width="8%" height="8%" hspace="10" vspace="10">
    <h2>{{item.title}}</h2>
    <div>
        Автор - {{item.author}}<br>
        Дата написания - {{item.created_date}}<br>
        Жанр - {{item.genre.title}}
    </div>
    <div>
        {{item.annotation}}
    </div>
</div>
{% endfor %}
{% endblock %}