{% extends "base.html" %}

{% block content %}
<h1>Книги</h1>
{% if current_user.is_authenticated and current_user.id == 1 %}
    <a href="book" class="btn btn-secondary">Добавить книгу</a>
{% endif %}
{% for item in books %}
<div class="col-md6 border rounded">
    <img src={{"/static/img/"+item.img_file}} align="left" width="8%" height="8%" hspace="10" vspace="10">
    <h2>{{item.title}}</h2>
    <table cellpadding="5">
        <tr>
            <td>Автор</td><td>{{item.author}}</td>
        </tr>
        <tr>
            <td>Дата написания</td><td>{{item.created_date}}</td>
        </tr>
        <tr>
            <td>Жанр</td><td>{{item.genre.title}}</td>
        </tr>
    </table>
    <div>
        {{item.annotation}}
    </div>
    {% if current_user.is_authenticated %}
    <div>
        <a href="/book_download/{{ item.id }}" class="btn btn-secondary">
            Скачать
        </a>
    </div>
    <br>
    {% endif %}
    {% if current_user.is_authenticated and current_user.id == 1 %}
    <div>
        <a href="/book/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/book_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}